



 <section fxLayout fxLayoutGap="15px" class="sec">
  <div class="btnClass">
    <div class="add_btnD"  (click)="onAdd()" ><mat-icon >add</mat-icon></div>

  </div>
  <div class="tickets">
    <mat-tab-group class="tabGroup">
      <mat-tab class="tabs">
        <ng-template class="tabChild" mat-tab-label>
          <span matBadge="{{badgeUnassigned}}" matBadgeOverlap="false">
            <i class="far fa-file"></i>
          </span>
        </ng-template>
        <div *ngFor="let item of indexes; let i = index;">
          <mat-card  (click)="openTicketDet(item, 'New')" class="card">
            <!-- <div class="circleDiv">
              
                <h1 class="circle">{{i}}</h1>
            
            </div> -->
            <div class="ticketDiv">
              <div class="ticketTop">
                <div fxLayout fxLayoutGap="5px">
                  <p class="idClass">ID</p>
                  <p class="idClass">:</p>
                  <p class="idClass">{{item.ticketId}}</p>
                </div>
                <button *ngIf="role === '5'" class="accept_btn" mat-button color="primary" (click)="onAcceptBtn(item.ticketId)" [disabled]="role === '4'">{{ acceptBtn }}</button>
                <button *ngIf="role === '4'" class="assigned_btn" mat-button color="primary" (click)="onAssignedBtn(item)" [disabled]="role === '5'">{{ assignedBtn }}</button>

              </div>
              <mat-card-title fxLayout fxLayoutGap="5px" class="ticketTitle">
                Ticket code: Tick
                    
                    <span class="ticketTitle">{{item.ticketId}}</span>
              </mat-card-title>
            <mat-card-content>
              <!-- <div fxLayout fxLayoutGap="5px">
                <p class="ticketDes">Remarks</p>
                <p class="ticketDes">:</p>
                <p class="ticketDes">{{item.remarks}}</p>
              </div> -->
              <div fxLayout fxLayoutGap="5px">
                <p class="ticketPC">Problem type</p>
                <p class="ticketPC">:</p>
                <p class="ticketPC">problem</p>
              </div>
              <div fxLayout fxLayoutGap="20px">
                <p class="ticketDate">Modified on : 12-06-19</p>
                <div fxLayout fxLayoutGap="5px">
                  <p class="ticketActive">Status</p>
                  <p class="ticketActive">:</p>
                  <p class="ticketActive">status</p>
                </div>
              </div>
            </mat-card-content>
            </div>
            
          
          </mat-card>
      
         </div>
      </mat-tab>
      <mat-tab class="tabs">
        <ng-template class="tabChild"  mat-tab-label>
          <span matBadge="{{badgeAssigned}}"   matBadgeOverlap="false">
            <i class="fas fa-user-check"></i>
          </span>
        </ng-template>
        <div *ngFor="let item of indexesAssigned; let i = index;">
          <mat-card  (click)="openTicketDet(item, 'Assigned')" class="card">
            <!-- <div class="circleDiv">
              
                <h1 class="circle">{{i}}</h1>
            
            </div> -->
            <div class="ticketDiv">
              <div class="ticketTop">
                <div fxLayout fxLayoutGap="5px">
                  <p class="idClass">ID</p>
                  <p class="idClass">:</p>
                  <p class="idClass">{{item.ticketId}}</p>
                </div>
              <button (click)="onClickOptions()" *ngIf="role === '5'" class="Btn" mat-icon-button [matMenuTriggerFor]="menu" >
                <mat-icon class="icon">more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button class="Btn" (click)="onTransferBtn(item)" mat-menu-item>{{transfer}}</button>
                <button class="Btn" (click)="onCloseBtn(item)" mat-menu-item>{{close}}</button>
              </mat-menu>
              </div>
              <mat-card-title fxLayout fxLayoutGap="5px" class="ticketTitle">
                Ticket code: Tick
                    
                    <span class="ticketTitle">{{item.ticketId}}</span>
              </mat-card-title>
            <mat-card-content>
              <!-- <div fxLayout fxLayoutGap="5px">
                <p class="ticketDes">Remarks</p>
                <p class="ticketDes">:</p>
                <p class="ticketDes">{{item.remarks}}</p>
              </div> -->
              <div fxLayout fxLayoutGap="5px">
                <p class="ticketPC">Problem type</p>
                <p class="ticketPC">:</p>
                <p class="ticketPC">problem</p>
              </div>
              <div fxLayout fxLayoutGap="20px">
                <p class="ticketDate">Modified on : 12-06-19</p>
                <div fxLayout fxLayoutGap="5px">
                  <p class="ticketActive">Status</p>
                  <p class="ticketActive">:</p>
                  <p class="ticketActive">status</p>
                </div>
              </div>
            </mat-card-content>
            </div>
            
          
          </mat-card>
      
         </div>
      </mat-tab>

      <mat-tab *ngIf="role === '3' || role === '4'"  class="tabs">
        <ng-template class="tabChild"  mat-tab-label>
          <span matBadge="{{badgeClosed}}"   matBadgeOverlap="false">
            <span class="material-icons">
              lock
              </span>
          </span>
        </ng-template>
        <div *ngFor="let item of indexesClosed; let i = index;">
          <mat-card  (click)="openTicketDet(item, 'Assigned')" class="card">
            <!-- <div class="circleDiv">
              
                <h1 class="circle">{{i}}</h1>
            
            </div> -->
            <div class="ticketDiv">
              <div class="ticketTop">
                <div fxLayout fxLayoutGap="5px">
                  <p class="idClass">ID</p>
                  <p class="idClass">:</p>
                  <p class="idClass">{{item.ticketId}}</p>
                </div>
              <button (click)="onClickOptions()"  class="Btn" mat-icon-button [matMenuTriggerFor]="menu" >
                <mat-icon class="icon">more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button class="Btn" (click)="onAssignedBtn(item)" mat-menu-item>{{assignedBtn}}</button>
                <button class="Btn" (click)="onTransferBtn(item)" mat-menu-item>{{transfer}}</button>
                <button class="Btn" (click)="onVerifyBtn(item)" mat-menu-item>{{verify}}</button>
              </mat-menu>
              </div>
              <mat-card-title fxLayout fxLayoutGap="5px" class="ticketTitle">
                Ticket code: Tick
                    
                    <span class="ticketTitle">{{item.ticketId}}</span>
              </mat-card-title>
            <mat-card-content>
              <!-- <div fxLayout fxLayoutGap="5px">
                <p class="ticketDes">Remarks</p>
                <p class="ticketDes">:</p>
                <p class="ticketDes">{{item.remarks}}</p>
              </div> -->
              <div fxLayout fxLayoutGap="5px">
                <p class="ticketPC">Problem type</p>
                <p class="ticketPC">:</p>
                <p class="ticketPC">problem</p>
              </div>
              <div fxLayout fxLayoutGap="20px">
                <p class="ticketDate">Modified on : 12-06-19</p>
                <div fxLayout fxLayoutGap="5px">
                  <p class="ticketActive">Status</p>
                  <p class="ticketActive">:</p>
                  <p class="ticketActive">status</p>
                </div>
              </div>
            </mat-card-content>
            </div>
            
          
          </mat-card>
      
         </div>
      </mat-tab>
      <mat-tab *ngIf="role === '3'"  class="tabs">
        <ng-template class="tabChild"  mat-tab-label>
          <span matBadge="{{badgeVerified}}"   matBadgeOverlap="false">
            <i class="fas fa-certificate"></i>
          </span>
        </ng-template>
        <div *ngFor="let item of indexesVerify; let i = index;">
          <mat-card  (click)="openTicketDet(item, 'Assigned')" class="card">
            <!-- <div class="circleDiv">
              
                <h1 class="circle">{{i}}</h1>
            
            </div> -->
            <div class="ticketDiv">
              <div class="ticketTop">
                <div fxLayout fxLayoutGap="5px">
                  <p class="idClass">ID</p>
                  <p class="idClass">:</p>
                  <p class="idClass">{{item.ticketId}}</p>
                </div>
              
              </div>
              <mat-card-title fxLayout fxLayoutGap="5px" class="ticketTitle">
                Ticket code: Tick
                    
                    <span class="ticketTitle">{{item.ticketId}}</span>
              </mat-card-title>
            <mat-card-content>
              <!-- <div fxLayout fxLayoutGap="5px">
                <p class="ticketDes">Remarks</p>
                <p class="ticketDes">:</p>
                <p class="ticketDes">{{item.remarks}}</p>
              </div> -->
              <div fxLayout fxLayoutGap="5px">
                <p class="ticketPC">Problem type</p>
                <p class="ticketPC">:</p>
                <p class="ticketPC">problem</p>
              </div>
              <div fxLayout fxLayoutGap="20px">
                <p class="ticketDate">Modified on : 12-06-19</p>
                <div fxLayout fxLayoutGap="5px">
                  <p class="ticketActive">Status</p>
                  <p class="ticketActive">:</p>
                  <p class="ticketActive">status</p>
                </div>
              </div>
            </mat-card-content>
            </div>
            
          
          </mat-card>
      
         </div>
      </mat-tab>
      
    </mat-tab-group>
  
   
</div>
<div class="ticketDets">
  <div *ngIf="showDetails">
    <div *ngIf="detActionsStatus === 'Assigned'" fxLayout fxLayoutGap="20px" class="actions">
      <h1 class="commentBtn" (click)="onNewComment()" ><mat-icon >add</mat-icon>Comment</h1>
    <div class="img_profile">
      <app-card-upload [myFiles]="lFiles" (onUploadFinished)="uploadFinished($event)"
                  
                  >
      </app-card-upload>
    </div>
    </div>
    <div>
      <div *ngFor="let comment of comments" class="attach" >
        
        <!-- <img *ngIf="!showit" [src]="imagePathUrl"  alt="" width="100px" height="100px"> -->

        <mat-card class="commentedCard">
          <div class="userComment">
            
            <div *ngIf="comment.commentType === 'TEXT'" fxLayout="column">
              <h1 class="commentC">{{comment.displayName}}</h1>
              <div class="textCom">
                <h1 class="commentC">{{comment.comment}}</h1>
              </div>
              <h4 class="commentDate">{{comment.crDate}}</h4>
            </div>
            <div *ngIf="comment.commentType === 'ATTACH'" fxLayout="column">
              <h1 class="commentC">{{comment.displayName}}</h1>
              <h1 class="commentC"><a class="links" href="{{comment.apiImagePath}}" target="_blank">attachment</a></h1>
              <h4 class="commentDate">{{comment.crDate}}</h4>
            </div>
            
          </div>
          
          
        </mat-card>
        
        
      </div>
    </div>
  </div>
</div>
 </section>

